/* Add custom CSS styles below */ 
body.index {
    background: url(https://i.ibb.co/sHB965w/bc.jpg);
    background-size: cover;
    background-repeat: repeat-y;
}
.top-navbar {
    background: white;
}
.grid.grid-cols-\[repeat\(2\,minmax\(0\,1fr\)\)\].md\:grid-cols-\[repeat\(3\,minmax\(0\,1fr\)\)\].gap-4.sm\:gap-6.xl\:gap-8 {
    display: flex;
    flex-wrap:wrap;
}
.s-block--features__item {
    width: 23% !important;
        background: transparent;
}
.s-block--features__item a.banner-entry.square-photos.has-overlay.with-hover {
    width: auto !important;
    height: unset !important;
}
.store-footer__inner {
    background: #be8b4a;
}
.s-block--features__item h2,.s-block--features__item p{
color:#fff;
}
 
 
[dir=rtl] salla-slider.photos-slider .swiper {
    padding-right: 0rem !important;
}
/* mover banner///////////////// */ 
  [dir=rtl] .carousel-slider .swiper {
    padding-left: 0rem !important;
}
salla-slider.photos-slider .swiper-slide {
    position: relative;
   margin: 0px !important;
    padding: 0px;
    height: auto;
    width: 100%;
    overflow: hidden;
    border-radius: 0rem;
}
.rounded-md {
    border-radius: 0rem !important;
}
.swiper.s-slider-container.swiper-initialized.swiper-horizontal.swiper-pointer-events.swiper-rtl.swiper-backface-hidden {
    padding: 0px;
}
section:first-of-type.s-block.s-block--photos-slider {
    margin: 0px !important;
}

/* categoryyy//////////////// */ 
 .grid.md\:grid-cols-3.two-row.grid-flow-row.gap-3.sm\:gap-8{
    display: flex;
    flex-wrap: wrap;
}
.lazy__bg.lazy.entered.loaded {
    background-size: contain;
    background-repeat: no-repeat;
}
 .banner--fixed img {
    background: #faebd700;
}   

.banner-entry {
    width: 24%;
    height: 300px !important;
    background: #f9fafb00;
}
    
/* Media Query for Mobile Devices */ 
 @media (max-width: 480px) { 
      .s-block--features__item {
    width: 46% !important;
}       
           .banner-entry {
    width: 48%;
     height: 130px !important;
         background: #f9fafb00;
    }
  } 
/* Media Query for low resolution  Tablets, Ipads */ 
       
@media (min-width: 481px) and (max-width: 767px) { 
     .s-block--features__item {
    width: 46% !important;
}
 .banner-entry {
    width: 22%;
    height: 177px !important;
    background: #f9fafb00;
    }
 }
